/*  GENERAL */

@-webkit-viewport   { width: device-width; }
@-moz-viewport      { width: device-width; }
@-ms-viewport       { width: device-width; }
@-o-viewport        { width: device-width; }
@viewport           { width: device-width; }

body{
  margin:0;
  padding:0;
  line-height: 1.5em;
  font-family: 'Helvetica Neue', 'sans serif';
}

li {
  list-style:none;
} 

/* LAYOUT */

#topsection{
  background: #EAEAEA;
  height: 90px; /*Height of top section*/
}

#topsection h1{
  margin: 0;
  padding-top: 15px;
}

#contentwrapper{
  float: left;
  width: 100%;
}

#contentcolumn{
  margin: 0 70px 0 250px; /*Margins for content column. Should be "0 RightColumnWidth 0 LeftColumnWidth*/
}

.innertube{
  margin: 10px; /*Margins for inner DIV inside each column (to provide padding)*/
  margin-top: 0;
}

#rightcolumn{
  float: left;
  width: 70px; /*Width of right column*/
  margin-left: -70px; /*Set left marginto -(RightColumnWidth)*/
  background: #eee;
  height:100%;
}


/* LEFT COLUMN */

#leftcolumn{
  float: left;
  width: 250px; /*Width of left column*/
  margin-left: -100%;
  background: #eee;
  height:100%;
  border-right: 2px solid #ccc;
}

.user-container {
  padding:10px 15px;
  border-bottom: 2px solid #ccc;
}

.user-container .user-greet {
  text-align:center;
  margin-left:15px;
  color: #555;
  font-weight:500;
  font-size:1.1em;
}

.sideTitle {
  background-color: #ccc;
  height:70px;
  padding:25px;
}

.sideTitle h3{
  font-family: "Times New Roman", Times, serif;
  margin:0;
  text-align:center;
  color:#888;
}

.option-container {
  padding:10px;
  margin-bottom:20px;
}

.option-container ul {
  padding-left:0;
}

.option-container li {
  margin:10px 5px;
  color:#666;
}

.option-text {
  margin-left:10px;
}

.sidebar-badge {
  float:right;
  margin-top: 5px;
  background-color:#FF6600;
}


/* DASHBOARD */

.dashboard {
  box-sizing:border-box;
  margin:25px;
}

.dashboard h2 {
  font-size:1.8em;
  margin-bottom:15px;
}

.dashboard h3 {
  font-size:1.5em;
  color:#666;
  margin-bottom:15px;
}

.dash-container {
  margin-left:10px;
}

.badge-dash {
  background-color: #fff;
  color: #666;
  font-weight:300;
  border:1px solid #ccc;
  margin-left:5px;
}

.tasks {
  margin-top:25px;
  color: #337ab7;
}

.btn-column {
  text-align:right;
}

.nav-option li {
  display: inline-block;
}

.nav-option {
  margin: 30px 0;
  height:34px;
  border-bottom: 1px solid #999;
}

.nav-option>li>a {
  color:#333;
  font-weight:500;
  padding:5px;
  padding-bottom:0px;
}

.nav-option a:hover {
  background-color:#fff;
}

.nav-option>li {
  margin-right:20px;
}

.nav-option>li>a:hover {
  background-color:#fff;
  border:0;
  padding-bottom:0;
}

.nav-option>li>a:focus {
  background-color:#fff;
}

.nav-option>li.active>a {
  color:#FF6600;
  padding-bottom: 5px;
}



/* BOOTSTRAP CHANGES */

.row {
  margin-bottom:10px;
}

.badge {
  border-radius: 3px;
}

.badge-active {
  color: #FF6600;
}

.btn:focus {
  color: #fff;
}

.btn-group button {
  margin-right:2px;
}

.btn-dash {
  background-color:#49A1E0;
  color:white;
}

.dropdown-toggle {
  height:34px;
}

.btn:hover {
  color:#fff;
}

.active {
  color:#FF6600;
  border-bottom:2px solid #FF6600;
}


/* ####### responsive layout CSS ####### */

@media (max-width: 840px){ /* 1st level responsive layout break point- drop right column down*/

  #leftcolumn{
    margin-left: -100%;
  }
  
  #rightcolumn{
    display:none;
  }
  
  #contentcolumn{
    margin-right: 0; /*Set margin to LeftColumnWidth*/
  }
}

@media(max-width: 675px){
  .nav-option>li {
    margin-right:5px;
  }

  .btn-group .btn {
    padding:5px;
  }

  .dropdown-toggle {
    height:32px;
  }
} 

@media (max-width: 600px){ /* 2nd level responsive layout break point- drop left column down */

  #leftcolumn{
    float: none;
    width: 100%;
    clear: both;
    margin-left: 0;
  }
  
  #contentcolumn{
    margin-left: 0;
  }  
}

@media (max-width: 500px){
  .nav-option>li {
    margin-right:5;
  }
}  