@-webkit-viewport   { width: device-width; }
@-moz-viewport      { width: device-width; }
@-ms-viewport       { width: device-width; }
@-o-viewport        { width: device-width; }
@viewport           { width: device-width; }

body{
margin:0;
padding:0;
line-height: 1.5em;
}

b{font-size: 110%;}

#topsection{
  background: #EAEAEA;
  height: 90px; /*Height of top section*/
}

#topsection h1{
  margin: 0;
  padding-top: 15px;
}

#contentwrapper{
  float: left;
  width: 100%;
}

#contentcolumn{
  margin: 0 200px 0 250px; /*Margins for content column. Should be "0 RightColumnWidth 0 LeftColumnWidth*/
}

#leftcolumn{
  float: left;
  width: 250px; /*Width of left column*/
  margin-left: -100%;
  background: #eee;
  height:100%;
  border-right: 2px solid #ccc;
}

#rightcolumn{
  float: left;
  width: 70px; /*Width of right column*/
  margin-left: -70px; /*Set left marginto -(RightColumnWidth)*/
  background: #eee;
  height:100%;
}

.innertube{
  margin: 10px; /*Margins for inner DIV inside each column (to provide padding)*/
  margin-top: 0;
}

.sideTitle {
  background-color: #ccc;
  height:80px;
  padding:25px;
}

.sideTitle h3{
  margin:0;
  text-align:center;
  color:#888;
}

.user-container {
  padding:10px;
  border-bottom: 2px solid #ccc;
}

.user-container .user-greet {
  text-align:center;
  margin-left:15px;
  color: #555;
  font-weight:500;
  font-size:1.1em;
}

/* ####### responsive layout CSS ####### */

@media (max-width: 840px){ /* 1st level responsive layout break point- drop right column down*/

  #leftcolumn{
    margin-left: -100%;
  }
  
  #rightcolumn{
    float: none;
    width: 100%;
    margin-left: 0;
    clear: both;
  }
  
  #contentcolumn{
    margin-right: 0; /*Set margin to LeftColumnWidth*/
  }
}

@media (max-width: 600px){ /* 2nd level responsive layout break point- drop left column down */
  #leftcolumn{
    float: none;
    width: 100%;
    clear: both;
    margin-left: 0;
  }
  
  #contentcolumn{
    margin-left: 0;
  }
}